@font-face {
    font-family: 'Didot-LT-Std';
    src: url('DidotLTStd-Bold.woff2') format('woff2'),
        url('DidotLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

